#menu-toggle-open {
    cursor: pointer;
    margin-left: 1rem;
    color: white;
}

.sidebar {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    width: 200px;
    height: 100vh;
    position: fixed;
    left: -200px;
    top: 0;
    transition: left 0.3s ease;
}

.sidebar.show {
    left: 0;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin-bottom: 1rem;
    display: block;
}

.sidebar #menu-toggle-close {
    cursor: pointer;
    margin-top: 1rem;
}

.container {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    text-align: center;
    width: 300px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

label,
input,
button {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: white;
}

input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100px;
    }

    .sidebar.show {
        left: -100px;
    }

    #menu-toggle-close {
        margin-top: 0.5rem;
    }
}
