body {
    background-color: #f8f9fa;
}

.card {
    margin-top: 100px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.card-header {
    background-color: #007bff;
    color: white;
}