/* Selector Universal */

*{
    padding: 0;
    margin: 0;
}

/*Selector de etiqueta*/

body{
    background-color: #f1ecea;
    color: white;
    background-image: url('/img/ROY\ TOUR\ ’23\ -\ WALLPAPER\ -\ VPRR7117.jpg');
    background-size: cover; /* Para que la imagen cubra todo el fondo */
    background-repeat: no-repeat;
    background-position: center center;
}

/* Selector de clase*/
.texto{
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding: 5px 25px;
    color: white;
    
}
.producto-imagen {
    width: 200px; /* Ajusta el tamaño de las imágenes según tus necesidades */
    height: 200px;
}
.img{
    max-width: 100%;
    height: auto;
    width: 450px;
    border-radius: 1px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    justify-items: center;
}
.img2{
    
    width: 250px;
    border-radius: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    justify-items: center;
}

.encabezado-articulo{
    padding: 10px;
    text-align: center;
    background-color: none;
    color: white;
    margin: 1em 2em;
    border-radius: 5px;

}
.encabezado-aside{
    padding: 10px 10px;
    text-align: center;
    background-color: none;
    color: white;
    margin: 1em 2em;
}
.menu-aside{
    color: white;
    background-color: none;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0,25px;
}
.lista-aside{
    color: red;

}
.lista-aside li{
    display: flex;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 2px;
    list-style: square;
    color: #000;
}
/* selector id */
#contenedor{
    width: 900px;
    height: auto;
    background-color: none;
    max-width: 0 auto;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}
#encabezado{
    text-align: center;
    align-items: center;
    width: 900px;
    background-color:  none;
    margin: 1em;
    border-radius: 5px;
}
#menu{
    height: 5%;
    background-color: none;
    margin: 1em;
    border-radius: 5px;
    color: red;
}
#contenido{
    height: auto;
    width: 58%;
    background-color: none;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}
#fueraSeccion{
    background-color:  none;
    height: 50%;
    width: 10%;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}
#pie{
    height: 10%;
    background-color:  none;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
    width: 90%;
}
#pie h4{
    padding: 15px;
    font-size: 30px;

}
/*selector de etiqueta*/
ul{
    text-align: center;
    padding: 10px;
    color: red;
}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
    color: red;
}
li a:hover{
    color: crimson;
    text-decoration: none;
    list-style: none;
}
section{
    display:flex ;
    width: 600px;
    height: 450px;
    
}
section .img3{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
section .img3:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
@media screen and (max-width: 700px) {
    #contenedor {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    body {
        width: 100%;
        height: 100%;
    }
    #encabezado,#menu,#contenido,#fueraSeccion,#pie{

        width: 90%;
        height: fit-content;
        padding: 0;
    }
    header{
        width: 90%;
    }
    ul{
        display: flex;
        flex-direction: column;
    }
    li{
        margin: 2px;
    }
    .img{
        width: 90%;
    }
}
/* Estilos para los productos */
.producto {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.producto-imagen {
    width: 100px; /* Ajusta el tamaño de las imágenes a 200px de ancho */
    height: auto;
    margin-bottom: 10px; /* Agrega un espacio entre la imagen y otros datos del producto */
}

.producto-codigo,
.producto-nombre,
.producto-precio,
.producto-status {
    margin: 5px 0;
}

  