/* Estilos para el sidebar */
.sidebar {
    height: 100vh;
    width: 20%; /* Usa un porcentaje del ancho del contenedor padre */
    position: absolute; /* Cambia de fixed a absolute */
    top: 0;
    left: -20%; /* Oculta el sidebar inicialmente */
    background-color: transparent;
    backdrop-filter: blur(20px);
    padding-top: 20px;
    transition: left 0.3s ease;
    color: white;
}
.sidebar a {
    padding: 1.5rem; /* Usa medidas relativas para el padding */
    text-decoration: none;
    color: #000;
    display: block;
    transition: 0.3s;
    color: white;
}
.sidebar a:hover {
    background-color: rgba(28, 82, 139, 0.252);
    color: #fff;
}

.sidebar.open {
    left: 0;
}
#menu-toggle {
    font-size: 24px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999; /* Asegura que el botón esté por encima del contenido */
}
#menu-toggle-open {
    color: white;
}
#menu-toggle-close {
    color: white; 
}
