.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divide el espacio en dos columnas iguales */
  gap: 20px; /* Espacio entre las columnas */
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.left-container,
.right-container {
  width: 100%; /* Opcional: establece el ancho máximo de los contenedores internos */
}

/* Estilos específicos para los elementos del primer contenedor */
.left-container label,
.left-container input,
.left-container button {
  margin-bottom: 20px;
}

/* Estilos específicos para los elementos del segundo contenedor */
.right-container label,
.right-container input,
.right-container button {
  margin-bottom: 20px;
}

img{
  width: 250px;
}

